@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-main-style {
   @apply btn btn-primary text-lg hover:bg-secondary px-8 focus:outline focus:bg-secondary rounded-full;
  }
  .button-secondary-style {
    @apply btn hover:bg-base-300 px-8 focus:outline focus:bg-base-300 text-lg rounded-full;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1d1c21 inset;
  box-shadow: 0 0 0px 1000px #1d1c21 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}


