@tailwind base;
@tailwind components;
@tailwind utilities;

/* for testing */
* {
  /* border: 1px red dotted; */
}

/* CUSTOM CLASS COMPONENT */
@layer components {
  .button-main-style {
    @apply btn btn-info text-lg hover:bg-primary px-8 focus:outline focus:bg-primary rounded-full text-base-100;
  }
  .button-secondary-style {
    @apply btn hover:bg-base-300 px-8 focus:outline focus:bg-base-300 text-lg rounded-full;
  }
  .button-delete-style {
    @apply btn btn-error hover:bg-error px-8 focus:outline focus:bg-error text-sm text-base-100 rounded-full;
  }
  .button-edit-style {
    @apply btn btn-warning hover:bg-warning px-8 focus:outline focus:bg-warning text-sm text-base-100 rounded-full;
  }
}

/* WEBKIT TEXT INPUT FIELD */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #1d1c21 inset;
  box-shadow: 0 0 0px 1000px #1d1c21 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}
